.header{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo{
    width: 140px;
}
.nav-links{
    display: flex;
    align-items: center;
}
.nav-link{
    text-decoration: none;
    margin-right: 20px;
    color: #000;
    font-weight: 500;
}
.nav-link:hover{
    color: #ff4c30;
}
.nav-link:nth-child(5){
    margin-right: 0;
}