
.footer-section{
    background-color: lightslategrey;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

.footer-section p{
    margin-top: 10px;
    color: #fff;
    text-align: center;
}
.developer a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}